<h5>Διάστημα τιμής</h5>

<input type="text" id="price_start" name="price_start" placeholder="{{#if filters.price_start}}{{filters.price_start}}{{else}}Από{{/if}}">
<input type="text" id="price_end" name="price_end" placeholder="{{#if filters.price_end}}{{filters.price_end}}{{else}}Εώς{{/if}}">

<h5>Εμβαδόν</h5>
<input type="text" name="area_start" placeholder="{{#if filters.area_start}}{{filters.area_start}}{{else}}Από{{/if}}">
<input type="text" name="area_end" placeholder="{{#if filters.area_end}}{{filters.area_end}}{{else}}Εώς{{/if}}">
<hr>