<h5>Διάστημα τιμής</h5>

<input type="text" id="price_start" name="price_start" placeholder="{{#if filters.price.start}}{{filters.price.start}}{{else}}Από{{/if}}">
<input type="text" id="price_end" name="price_end" placeholder="{{#if filters.price.end}}{{filters.price.end}}{{else}}Εώς{{/if}}">

<h5>Εμβαδόν</h5>
<input type="text" id="area_start" name="area_start" placeholder="{{#if filters.area.start}}{{filters.area.start}}{{else}}Από{{/if}}">
<input type="text" id="area_end" name="area_end" placeholder="{{#if filters.area.end}}{{filters.area.end}}{{else}}Εώς{{/if}}">
<hr>