<h5>{{#if filters.category_residential}}Δωμάτια{{/if}}{{#if filters.category_commercial}}Χώροι{{/if}}</h5>
<input type="text" inputmode="numeric" name="rooms_from" placeholder="{{#if filters.rooms.start}}{{filters.rooms.start}}{{else}}Από{{/if}}">
<input type="text" inputmode="numeric" name="rooms_to" placeholder="{{#if filters.rooms.end}}{{filters.rooms.end}}{{else}}Εώς{{/if}}">
<h5>Όροφος</h5>
<input type="text" inputmode="numeric" name="floor_from" placeholder="{{#if filters.floor.start}}{{filters.floor.start}}{{else}}Από{{/if}}">
<input type="text" inputmode="numeric" name="floor_to" placeholder="{{#if filters.floor.end}}{{filters.floor.end}}{{else}}Εώς{{/if}}">
<h5>Έτος κατασκευής</h5>
<input type="text" inputmode="numeric" name="year_from" placeholder="{{#if filters.year.start}}{{filters.year.start}}{{else}}Από{{/if}}">
<input type="text" inputmode="numeric" name="year_to" placeholder="{{#if filters.year.end}}{{filters.year.end}}{{else}}Εώς{{/if}}">
			
<hr>
