<a href="/listing/{{listing.id}}">
<div class="searchCard" draggable="false">
		<img src="{{listing.images.[0]}}" draggable="false">
		<div class="top-row">
			<p>{{listing.subcategory}}, {{listing.area}} τ.μ</p>
			{{> heart id=listing.id isFavorite=listing.isFavorite}}
		</div>

		<span>{{listing.location}}</span>

		<div class="listing_description">
			<p>{{listing.floor}}ος</p>
			<p>{{listing.rooms}}υ/δ</p>
			<p>1μπ</p>
		</div>

		<p>€ {{listing.price}}</p>
</div>
</a>