{{> header}}

<hr class="box-shadow">

{{!-- carousel --}}


{{!-- <main> --}}
    <div class="path_container">
        <a class="go_back">
        <img src="/icons/back_arrow.svg" draggable="false">
        <p>Λίστα Αγγελιών</p>
        </a>

        {{!-- path taken --}}
        <div class="path">
            <p> <a>Αρχική <img src="/icons/chevron-right.svg" draggable="false"> </a> <a>Λίστα Αγγελιών <img src="/icons/path.svg" draggable="false"> </a></p>

        </div>
    </div>

    <div class="listing_container">
        <div class="listing_images"  onclick="openCarousel()">
            {{!-- might be replaced with carousel --}}
            <div class="big_image" draggable="false">
                <img src="{{listing.images.[0]}}">
            </div>
            <div class="small_images">
                {{#slice listing.images start=1 end=4}}
                    <img src="{{this}}" draggable="false">
                {{/slice}}
            </div>

        </div>

        <div class="listing">
            <div class="listing_info">
                <div class="listing_title">
                    <h2>{{listing.subcategory}}</h2>
                    <p>{{listing.location}}</p>
                </div>

                <div class="listing_phone">
                    <button>Τηλέφωνο Επικοινωνίας</button>
                </div>
            </div>

            <div class="attributes">
                <div class="listing_details">

                    <div class="listing_price">
                        <p>€ {{listing.price}} </p>
                        <div class="heart">{{> heart id=listing.id isFavorite=listing.isFavorite}}</div>
                    </div>

                    <div class="listing_description">
                        <p>Όροφος: {{listing.floor}}ος</p>
                        <p>Δωμάτια: {{listing.rooms}}</p>
                        {{#if listing.bathrooms}}
                        <p>Μπάνια: {{listing.bathrooms}}</p>
                        {{/if}}
                    </div>

                    <label class="extra_characteristics" for="listing_extra_characteristics">Ειδικά χαρακτηριστικά</label>
                    <div class="listing_extra_characteristics">
                        {{#each listing.extras}}
                            {{#if this}}
                                <p>{{this}}</p>
                            {{/if}}
                        {{/each}}
                    </div>
                </div>

                <div class="char_div">
                    <label class="characteristics" for="listing_characteristics">Χαρακτηριστικά</label>
                    <div class="listing_characteristics">
                        <table>
                            <tr> <td style="background-color: #F0F0F0">Εμβαδόν</td> <td>{{listing.area}}</td> </tr>
                            <tr> <td style="background-color: #F0F0F0">€/τ.μ.</td> <td>{{listing.price_per_area}}</td> </tr>
                            {{#if listing.zone}}
                            <tr> <td style="background-color: #F0F0F0">Πολεοδομική Ζώνη</td> <td>{{listing.zone}}</td> </tr>
                            {{/if}}
                            {{#unless listing.category_land}}
                            <tr> <td style="background-color: #F0F0F0">Κατάσταση</td> <td>{{listing.condition}}</td> </tr>
                            <tr> <td style="background-color: #F0F0F0">Έτος Κατασκευής</td> <td>{{listing.year}}</td> </tr>
                            <tr> <td style="background-color: #F0F0F0">Επίπεδα</td> <td>{{listing.levels}}</td> </tr>
                            <tr> <td style="background-color: #F0F0F0">Θέρμανση</td> <td>{{listing.heating}}</td> </tr>
                            <tr> <td style="background-color: #F0F0F0">Τύπος Θέρμανσης</td> <td>{{listing.heating_type}}</td> </tr>
                            {{/unless}}
                        </table>
                    </div>
                </div>
            </div>
{{!-- </main> --}}

    <hr class="divider">


    <div class="listing_owner">
        <div class="provider_logo">
                <label class="provider" for="provider_logo">Πληροφορίες Αγγελιοδότη</label>
                <img src="/icons/provider.svg" draggable="false">
            </div>


            <div class="provider_contact">
                <label for="provider_name">Όνομα</label>
                <p> (phone number) </p>
            </div>
    </div>

    <div class="myCarousel">
        <a id="clsbtn">&times;</a>

        <div id="carousel_slide">
            <div class="carousel_inner">
                {{#each listing.images}}
                <div class="item" active_image"">
                    <img id="{{@index}}" src="{{this}}" draggable="false">
                </div>
                {{/each}}
            </div>
            <a class="carousel-control-prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>


<script>
    let carousel = document.querySelector(".myCarousel")

    let next = document.querySelector(".carousel-control-next")
    let prev = document.querySelector(".carousel-control-prev")
    let slide = document.querySelector(".carousel_inner")
    let item = document.querySelector(".item")
    let close = document.getElementById("clsbtn")
    let items = document.querySelectorAll(".item")

    currentSlide = 0
    items[currentSlide].classList.add("active_image")

    // when trigger clicked open carousel
    function openCarousel() {
        //set carousel opacity to 1
        carousel.classList.add("active")
    }

    function closeCarousel() {
        carousel.classList.remove("active")
    }

    function nextSlide(currentSlide) {
        items.forEach(item => {
            item.classList.remove("active_image")
        })
        //add slidein animation

        items[currentSlide].classList.add("active_image")
    }

    function prevSlide(currentSlide) {
        items.forEach(item => {
            item.classList.remove("active_image")
        })
        items[currentSlide].classList.add("active_image")
    }

    next.addEventListener("click", () => {
        currentSlide++
        if (currentSlide >= items.length) {
            currentSlide = 0
        }
        nextSlide(currentSlide)
    })

    prev.addEventListener("click", () => {
        currentSlide--
        if (currentSlide < 0) {
            currentSlide = items.length - 1
        }
        prevSlide(currentSlide)
    })

    close.addEventListener("click", function (){
        closeCarousel();
    })

    //keyboard escape event listener
    document.addEventListener("keydown", (e) => {
        if (e.key === "Escape") {
            closeCarousel()
        }
    })

    //event listener on keydown next and prev
    document.addEventListener("keydown", (e) => {
        if (e.key === "ArrowRight") {
            currentSlide++
            if (currentSlide >= items.length) {
                currentSlide = 0
            }
            nextSlide(currentSlide)
        }
    })

    document.addEventListener("keydown", (e) => {
        if (e.key === "ArrowLeft") {
            currentSlide--
            if (currentSlide < 0) {
                currentSlide = items.length - 1
            }
            prevSlide(currentSlide)
        }
    })

    //event listener on go back arrow and go to previous page
    let goBack = document.querySelector(".go_back")
    goBack.addEventListener("click", () => {
        //if there is no previous page go to home page
        window.history.back()

    })

    let phone_button = document.querySelector(".listing_phone")
    phone_button.addEventListener("click", () => {
        window.scrollTo({
            top: document.body.scrollHeight,
            behavior: "smooth"
        })
    })


</script>